In [1]:
import pandas as pd
import os
import numpy as np

pd.set_option('display.max_columns', 20)

In [2]:

# 1. Read in the files
print('Data cleaning')
print('Current working directory:', os.getcwd())
raw_files = os.listdir('data/raw')
print(raw_files)

Data cleaning
Current working directory: /Users/ethanwalker/Documents/Projects/Expense-Tagging
['AccountHistory (1).csv']

In [9]:

raw_data = pd.DataFrame()
for file in raw_files:
    raw_data = raw_data.append(pd.read_csv('data/raw/' + file), ignore_index=True)
print('Data shape:', raw_data.shape)
print(raw_data.head())

Data shape: (3509, 8)
   Account Number  Post Date  Check  \
0       443091309  4/27/2024    NaN
1       443091309  4/25/2024    NaN
2       443091309  4/27/2024    NaN
3       443091309  4/27/2024    NaN
4       443091309  4/27/2024    NaN

                                         Description  Debit  Credit   Status  \
0             GITHUB, INC.       +18774484820   CAUS  10.00     NaN  Pending
1             LIME*RIDE          +18885463345   CAUS   4.44     NaN  Pending
2                           Deposit weekly allowance    NaN   120.0   Posted
3  Point Of Sale Withdrawal MASABI_RTD 1600 Blake...   2.70     NaN   Posted
4  Point Of Sale Withdrawal SQ *CURTIS PARK 2532 ...  19.24     NaN   Posted

   Balance
0      NaN
1      NaN
2   116.43
3    -3.57
4    -0.87

In [13]:
# 2. keep only rows with Debit!=NaN, Status=Posted, and Account Number == 4430913
raw_data = raw_data[raw_data['Debit'].notnull()]
raw_data = raw_data[raw_data['Status'] == 'Posted']
raw_data = raw_data[raw_data['Account Number'] == 443091309]
print('Data shape:', raw_data.shape)
raw_data.head()

Data shape: (2726, 8)

,Account Number,Post Date,Check,Description,Debit,Credit,Status,Balance
3,443091309,4/27/2024,NaN,Point Of Sale Withdrawal MASABI_RTD 1600 Blake...,2.70,NaN,Posted,-3.57
4,443091309,4/27/2024,NaN,Point Of Sale Withdrawal SQ *CURTIS PARK 2532 ...,19.24,NaN,Posted,-0.87
5,443091309,4/27/2024,NaN,Point Of Sale Withdrawal SQ *CURTIS PARK 2532 ...,2.75,NaN,Posted,18.37
6,443091309,4/26/2024,NaN,Point Of Sale Withdrawal TST* FAMOUS ORI 713 E...,10.80,NaN,Posted,21.12
7,443091309,4/26/2024,NaN,External Withdrawal PAYPAL INSTANT TRANSFER - ...,60.00,NaN,Posted,31.92

In [21]:
# 3. keep only the desired columns
data = raw_data[['Post Date', 'Description', 'Debit']]
print('Data shape:', data.shape)
data.head()

Data shape: (2726, 3)

   Post Date                                        Description  Debit
3  4/27/2024  Point Of Sale Withdrawal MASABI_RTD 1600 Blake...   2.70
4  4/27/2024  Point Of Sale Withdrawal SQ *CURTIS PARK 2532 ...  19.24
5  4/27/2024  Point Of Sale Withdrawal SQ *CURTIS PARK 2532 ...   2.75
6  4/26/2024  Point Of Sale Withdrawal TST* FAMOUS ORI 713 E...  10.80
7  4/26/2024  External Withdrawal PAYPAL INSTANT TRANSFER - ...  60.00

In [22]:
# 4. convert the 'Post Date' column to datetime
data['Post Date'] = data['Post Date'].astype('datetime64')
data.rename(columns={'Post Date': 'Date'}, inplace=True)

/var/folders/kd/x3brfgln0ng5q695bs9wjnkc0000gn/T/ipykernel_48207/1382544161.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Post Date'] = data['Post Date'].astype('datetime64')
/Users/ethanwalker/opt/anaconda3/envs/DS/lib/python3.8/site-packages/pandas/core/frame.py:4438: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [26]:
# 5. Print the shape one last time and the date range encomapssed by the data as a Month, Day, Year
print('Data shape:', data.shape)
date_range = data['Date'].agg([np.min, np.max])
print('Date range:', date_range[0].strftime('%B %d, %Y'), 'to', date_range[1].strftime('%B %d, %Y'))

Data shape: (2726, 3)
Date range: May 07, 2018 to April 27, 2024

In [27]:
data.to_csv('data/clean/transactions.csv', index=False)